<meta http-equiv="refresh" content="5;url=http://localhost:8080" />

<title>Customer List</title>
<tbody>
    <h2 style="text-align: center"> Your emails has been sent successfully</h2>
</tbody>
</table>