<div class="container-fluid">
    <div class="row dash-row">
        <div class="col-xl-4">
            <div class="stats stats-primary">
                <h3 class="stats-title"> Unpaid Invoices </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-file-invoice"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">{{result}}</div>
                        <div class="stats-change">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-success ">
                <h3 class="stats-title"> Paid Invoices </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">{{result2}}</div>
                        <div class="stats-change">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-danger">
                <h3 class="stats-title"> Customers </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">{{result4}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card spur-card">
                <div class="card-header">
                    <div class="spur-card-icon">
                        <i class="fas fa-bell"></i>
                    </div>
                    <div class="spur-card-title"> Notifications </div>
                </div>
                <div class="card-body ">
                    <div class="notifications">
                        <a href="#!" class="notification">
                            <div class="notification-icon">
                                <i class="fas fa-inbox"></i>
                            </div>
                            <div class="notification-text">Julian is a silly goose</div>
                            <span class="notification-time">2 days ago</span>
                        </a>
                        <a href="#!" class="notification">
                            <div class="notification-icon">
                                <i class="fas fa-inbox"></i>
                            </div>
                            <div class="notification-text">Julian is still a silly goose</div>
                            <span class="notification-time">1 day ago</span>
                        </a>
                        <a href="#!" class="notification">
                            <div class="notification-icon">
                                <i class="fas fa-inbox"></i>
                            </div>
                            <div class="notification-text">Julian is the silliest goose</div>
                            <span class="notification-time">Today</span>
                        </a>
                        <div class="notifications-show-all">
                            <a href="#!">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>