<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Customer</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Farrar">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>