<form>
  <div class="form-row">
      <div class="form-group col-md-12">
        <label for="invoice_customer">Select Client</label>
         <select class="selectpicker" data-live-search="true" name="invoice_customer" id="invoice_customer">
           {{#each customers}}
           <option>{{fullName}}</option>
           {{/each}}
         </select>


      </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>